version: 2.1
executors:
  node-executor:
    docker:
      - image: circleci/node:14.4.0
    working_directory: ~/app

jobs:
  test:
    executor: node-executor
    steps:
      - checkout
      - run: yarn install --non-interactive
      - run: yarn danger ci --failOnErrors --id @brainhubeu/react-carousel
workflows:
  version: 2
  build_and_test:
    jobs:
      - test
